In [16]:
import re
import warnings
warnings.filterwarnings('ignore')

The re module offers a set of functions that allows us to search a string for a match:

Function	Description

findall:	Returns a list containing all matches<br>
search:	Returns a Match object if there is a match anywhere in the string<br>
split:	Returns a list where the string has been split at each match<br>
sub: Replaces one or many matches with a string<br>

Character	Description	Example	

[]	A set of characters	"[a-m]"	

\	Signals a special sequence (can also be used to escape special characters)	"\d"	

.	Any character (except newline character)	"he..o"	

^	Starts with	"^hello"	

\$	Ends with	"planet$"	

*	Zero or more occurrences	"he.*o"

+	One or more occurrences	"he.+o"
   
?	Zero or one occurrences	"he.?o"	

{}	Exactly the specified number of occurrences	"he.{2}o"	

|	Either or	"falls|stays"

In [11]:
txt = "I am the hope of the universe. I am the answer to all the living beings that cry out for peace. I am the protector of the innocence. I am the light in the darkness. I am a super Saiyan son goku!!"
r = re.findall("[a-zA-Z]",txt)
for i in r:
    print(i,end=" ")

I a m t h e h o p e o f t h e u n i v e r s e I a m t h e a n s w e r t o a l l t h e l i v i n g b e i n g s t h a t c r y o u t f o r p e a c e I a m t h e p r o t e c t o r o f t h e i n n o c e n c e I a m t h e l i g h t i n t h e d a r k n e s s I a m a s u p e r S a i y a n s o n g o k u

In [20]:
txt2 = "On an grim day, a fierce battle unfolded. Mughal Army comprising of 10,00,000 soldiers, faced a mere 40 sikh soldiers. Despite the overwhelming disparity in numbers , the Sikhs valiantly contested the might of the mughals, ultimately making a historic stand. This event continues to inspire generations with its profound testament to the indomitable will and courage that one can harbor within."
d = re.findall("\d",txt2)
print("Digits: ")
for i in d:
    print(i, end=" ")
r = re.findall("[a-zA-z]", txt2)
print("\nCharacters: ")
for i in r:
    print(i, end=" ")

Digits:
1 0 0 0 0 0 0 4 0
Characters:
O n a n g r i m d a y a f i e r c e b a t t l e u n f o l d e d M u g h a l A r m y c o m p r i s i n g o f s o l d i e r s f a c e d a m e r e s i k h s o l d i e r s D e s p i t e t h e o v e r w h e l m i n g d i s p a r i t y i n n u m b e r s t h e S i k h s v a l i a n t l y c o n t e s t e d t h e m i g h t o f t h e m u g h a l s u l t i m a t e l y m a k i n g a h i s t o r i c s t a n d T h i s e v e n t c o n t i n u e s t o i n s p i r e g e n e r a t i o n s w i t h i t s p r o f o u n d t e s t a m e n t t o t h e i n d o m i t a b l e w i l l a n d c o u r a g e t h a t o n e c a n h a r b o r w i t h i n

In [37]:
find_the = re.findall("t.e", txt)
print(find_the)
# we can know how many times a word is repeating in a sentence. Also main purpose is to find certain words with length specified along with characters.
#Also a sentence maybe
find_sent2 = re.findall("M...........................................,",txt2)
print(find_sent2)

['the', 'the', 'the', 'the', 'the', 'the', 'the', 'the']
['Mughal Army comprising of 10,00,000 soldiers,']

In [45]:
txt = "hello planet"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
print(x)
z= re.findall("planet$", txt)
print(z)

['hello']
['planet']

In [61]:
txt3 = "ab abbbb bab bb"
print(" *: ", re.findall("a*b", txt3))# (since 'a*' can match zero 'a's) so it will match even word starting with b
print(" +: ", re.findall("a+b", txt3))# (since 'a+' needs at least one 'a') so it will not match wor starting with b

 *:  ['ab', 'ab', 'b', 'b', 'b', 'b', 'ab', 'b', 'b']
 +:  ['ab', 'ab', 'ab']

In [62]:
txt4 = "Hello planet"
x = re.findall("He.{2}o",txt4)
print(x)

['Hello']

In [65]:
txt5 = "The rain in Spain falls mainly in the plain!"
x = re.findall("rain|plain|Spain|vain|obtain",txt5)
x

['rain', 'Spain', 'plain']

# Practise Time

In [112]:
q1 = """
My email is example123@gmail.com, and my backup is example.secondary@domain.co.uk.
john.doe123@example-mail.com
admin@support.example.org
user.name@domain.co.in
first_last+tag@sub-domain.example.museum
"""
email = re.findall("[a-zA-Z0-9._%+]+@[A-Za-z-0-9.-]+\.[A-Za-z]{2,}",q1)

In [113]:
email

['example123@gmail.com',
 'example.secondary@domain.co.uk',
 'john.doe123@example-mail.com',
 'admin@support.example.org',
 'user.name@domain.co.in',
 'first_last+tag@sub-domain.example.museum']

In [198]:
q2 = """
International Format with Country Code and Dashes
+1-123-456-7890 
+91-98765-43210 
US Format with Parentheses and Dashes
(123) 456-7890 
(987) 654-3210      
Standard 10-Digit Format with Dashes
123-456-7890
987-654-3210
Standard 10-Digit Format without Separators
1234567890
9876543210
International Format with Spaces
+44 1234 567890
+61 2 9876 5432
US Format with Dots
123.456.7890
987.654.3210
US Format with Country Code in Parentheses and Spaces
+1 (123) 456 7890
+44 (20) 7946 0958
Extensions (Common in Office Numbers)
123-456-7890 x1234
(123) 456-7890 ext. 567
"""
phone_inter_format = re.findall("\+[0-9]{1,2}\-[0-9]{3}\-[0-9]{3}\-[0-9]{4}|\+[0-9]{1,2}\-[0-9]{5}\-[0-9]{5}", q2)
phone_us_format_paren_dash=re.findall("\([0-9]{3}\)\s[0-9]{3}[-0-9]{5}(?!\s[a-zA-Z])", q2)
phone_10_digit_Std_format_dash_without_sep= re.findall(r"^[0-9]{3}-[0-9]{3}-[0-9]{4}$|[0-9]{10}",q2,re.MULTILINE)
phone_inter_with_space = re.findall("\+[0-9]{2}\s\d{4}\s\d{6}|\+[0-9]{2}\s\d{1}\s\d{4}\s\d{4}",q2)
phone_us_for_dot = re.findall("^[0-9]{3}\.[0-9.]{8}",q2,re.MULTILINE)
phone_us_pare_space = re.findall("\+\d{1,2}\s\(\d{2,3}\)\s\d{3,4}\s\d{4}",q2)
ext = re.findall("\([0-9-]{3}\)\s\d{3}[0-9-]{5}[a-z.\s0-9]{9}|[0-9-]{12}\s[a-z0-9]{5}",q2)

In [199]:
print("International Format with Country Code and Dashes: ")
for i in phone_inter_format:
    print(i, end="\n")
print("\nUS Format with Parentheses and Dashes: ")
for i in phone_us_format_paren_dash:
    print(i, end="\n")
print("\nStandard 10-Digit Format with Dashes and Standard 10-Digit Format without Separators: ")
for i in phone_10_digit_Std_format_dash_without_sep:
    print(i, end="\n")
print("\nInternational Format with Spaces")
for i in phone_inter_with_space:
    print(i,end="\n")
print("\nUS Format with Dots")
for i in phone_us_for_dot:
    print(i,end="\n")
print("\nUS Format with Country Code in Parentheses and Spaces")
for i in phone_us_pare_space:
    print(i,end="\n")
print("\nExtensions (Common in Office Numbers)")
for i in ext:
    print(i,end="\n")

International Format with Country Code and Dashes:
+1-123-456-7890
+91-98765-43210

US Format with Parentheses and Dashes:
(123) 456-7890
(987) 654-3210

Standard 10-Digit Format with Dashes and Standard 10-Digit Format without Separators:
123-456-7890
987-654-3210
1234567890
9876543210

International Format with Spaces
+44 1234 567890
+61 2 9876 5432

US Format with Dots
123.456.7890
987.654.3210

US Format with Country Code in Parentheses and Spaces
+1 (123) 456 7890
+44 (20) 7946 0958

Extensions (Common in Office Numbers)
123-456-7890 x1234
(123) 456-7890 ext. 567

In [226]:
q3 = "I have $5.10 in my wallet, but I owe you $15.Kind of $15.445 if accurate."
dol = re.findall("\$\d+(?:\.\d{0,3})",q3)
dol

['$5.10', '$15.', '$15.445']

In [234]:
q4 = "The event is scheduled for 2024-11-07, and the deadline is 2024/11/15."
date = re.findall("[0-9-/]{10}",q4)
date

['2024-11-07', '2024/11/15']

In [245]:
q5 ="My favorite colors are #FF5733 and #33FF57."
hex = re.findall("#[0-9A-Z]*",q5)
hex

['#FF5733', '#33FF57']

In [246]:
q6 = "I'll be online at 14:30 or maybe 7:45 AM."
tim = re.findall("\d[:]\d*",q6)
tim

['4:30', '7:45']

In [247]:
q7 = " Order numbers are ORD001, ORD002, and ORD003."
order = re.findall("[A-Z0-9]{6,9}",q7)
order

['ORD001', 'ORD002', 'ORD003']

In [248]:
q8 = "Please visit https://www.example.com or http://example.org for more information."
web = re.findall("[a-zA-z]*:\/\/[a-z]*\.[a-z]*\.[a-z]*|[a-zA-z]*:\/\/[a-z]*\.[a-z]*",q8)
web

['https://www.example.com', 'http://example.org']

In [250]:
q9 = "The temperature dropped from 75°F to 60°F overnight."
deg = re.findall("\d+°F",q9)
deg

['75°F', '60°F']

In [252]:
q10 = "Call us between 9 AM and 5 PM from Monday to Friday."
tim2 = re.findall("\d\s[A-Z]*|\d\s[A-Z]*",q10)
tim2

['9 AM', '5 PM']

# Code basics exercise

**Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word.**

In [254]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = '[a-zA-z]*\:\/\/t.{5}r\.[a-z]*\/[a-zA-z_0-9]*' 

re.findall(pattern, text)

['https://twitter.com/elonmusk',
 'https://twitter.com/teslarati',
 'https://twitter.com/dummy_tesla',
 'https://twitter.com/dummy_2_tesla']

**2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings**

(1) Credit Risk

(2) Supply Rish

In [255]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = 'C.{9}k|S.{9}k' 

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

**3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below**

Hint: you need to use (?:) here to match everything enclosed

In [257]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = '\d{4}\s[A-Z0-9]*'
matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']